.container {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
}

.cinza {
    background-color: lightblue;
    width: 70%; 
    height: 300px; 
}

.quadrado {
    width: 70%; 
    height: 300px; 
}

.adicional1 {
    background-color: lightblue; 
}

.adicional2 {
    background-color: lightblue; 
}

.img{
    height: 20px;
    width: 100%;
}