.container {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
}

.cinza {
    background-color: lightblue;
    width: 70%; 
    height: 300px; 
}

.quadrado {
    width: 70%; 
    height: 300px; 
}

.adicional1 {
    background-color: lightblue; 
}

.adicional2 {
    background-color: lightblue; 
}

.img{
    height: 5000px;
    width: 100%;
}

.texto-e-imagem {
    display: flex;
    align-items: center; 
}

.texto-e-imagem .texto {
    margin-right: 50px; 
}

.texto-e-imagem img {
    max-width: 1250px;
    height: auto;
}

.texto-e-imagem .texto h1 {
    color: #1646af;
}

.texto-e-imagem {
    display: flex;
    align-items: center; 
}

.texto-e-imagem .texto {
    margin-left: 20px; 
}

.texto-e-imagem img {
    max-width: 200px; 
    height: auto;
}


.imagem-abaixo {
    margin-top: 20px; 
    max-width: 200px;
    height: auto;
    display: block; 
}